.App {
  text-align: left;
}

.App-logo {
  height: 40px;
  padding-right: 20px;
}

.App-header {
  background-color: #222;
  height: 40px;
  padding-top: 0px;
  padding-left: 8px;
  padding-right: 15px;
  padding-bottom: 3px;
  color: white;
}

.App-intro {
  font-size: large;
}

.nav-buttons {
  background-color: #222;
  padding-right: 10px;
  padding-left: 10px;
  color: white;
  border: none;
  display: inline-block;
  height: 40px;
}

.nav-bar {
  display: inline-block;
}

.button:hover {
    background-color: #ff0000;
    color: white;
}

.button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.banner-image {
  height: 150px;
  padding: 15px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
